*{
    margin: 0;
    padding: 0;
    border: 0;
    outline:none;
    box-sizing: border-box;
}

body{
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:linear-gradient(320deg, #fff1eb,#ace0f9 );
}
.title{
    font-family: 'Dosis',sans-serif;
    margin-bottom: 15px;
    font-size: 30px;
    text-align: center;
}
.container{
    position: relative;
    width: 400px;
    height: 105px;
    background: #fff;
    padding: 28px 32px;
    overflow: hidden;
    border-radius:18px ;
    font-family: 'Dosis',sans-serif;
    transition: 0.6s ease-out;
}

.search-box{
    width:100%;
    height:min-content;
    display:flex;
    align-items: center;
    justify-content: space-between;
    
}

.search-box input{
    color: #06283d;
    background: #e7eaec;
    width:80%;
    font-size: 24px;
    font-family: 'Dosis',sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
}

.search-box input::placeholder{
    font-size:20px;
    font-weight: 500;
    color: #06283d;
    text-transform: capitalize;

}

.search-box button{
    cursor:pointer;
    width: 50px;
    height: 50px;
    color:#06283d;
    background: #dff6ff;
    border-radius: 50%;
    font-size: 22px;
    transition: 0.4s ease;
}

.search-box button:hover{
    background-color: #06283d;
    color: #fff;
}

.search-box i{
    position: absolute;
    color: #06283d;
    font-size: 28px;
    padding-left: 10px;
}

.weather-box{
    text-align: center;
    
}

.weather-box img{
    width:60%;
    margin-top: 30px;
}
.weather-box .temerature{
    position: relative;
    color:#06283d;
    font-size: 4rem;
    font-weight: 800;
    margin-top:30px;
    margin-left: -16px;
}

.weather-box .temerature span{
    position: absolute;
    margin-left: 4px;
    font-size: 1.5rem;

}

.weather-box .description{
    color:#06283d;
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}

.weather-details{
    width:100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.weather-details .humidity, .weather-details .wind{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100px;


}

.weather-details .humidity{
    padding-left: 20px;
    justify-content: flex-start;

}

.weather-details .wind{
    padding-left: 20px;
    justify-content: flex-end;
    
}

.weather-details i{
    color: #06283d;
    font-size: 26px;
    margin-right: 10px;
    margin-top: 6px;
}

.weather-details span{
    color: #06283d;
    font-size: 22px;
    font-weight: 500;
}

.weather-details p{
    color: #06283d;
    font-size: 14px;
    font-weight: 500;
}

.not-found{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    scale: 0;
    opacity: 0;
    display: none;
}
.not-found img{
    width: 80%;
    
}

.not-found p{
    color: #06283d;
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
}

.weather-box, .weather-details{
    scale: 0;
    opacity: 0;
}

.fadeIn{
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;

}

.weather-box p.temperature {
    font-size: 40px;
    margin-top: 20px;
    font-weight: 800;
}
.weather-box p.description {
    font-size: 30px;
    margin-top: 10px;
    
}
@keyframes fadeIn{
    to{
        scale:1;
        opacity: 1;
    }
}


/* Media Queries cho màn hình nhỏ hơn */
@media (max-width: 480px) {
    .container {
        width: 95%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .title{
        font-size: 20px;
        
    }
    
    .search-box{
        gap:10px;
    }
    .search-box input {
        width: 100%;
        padding-left: 45px;
    }

    .search-box button {
        
    width: 60px;
    height: 50px;
    
    
    }

    .search-box i {
        left: 20px;
    }

    .weather-details {
        
        align-items: center;
        gap: 0px;
    }

    .weather-box{
        padding-bottom: 0px;
    }
    .weather-details .humidity,
    .weather-details .wind {
        width: 80%;
        justify-content: center;
        padding: 0;
        margin: 0;
    }

    .weather-details .humidity {
        justify-content: center;
    }

    .weather-details .wind {
        justify-content: center;
    }
}

@media (max-width: 350px) {
    .container {
        padding: 15px 10px;
    }

    .title {
        font-size: 24px;
    }
}